#paneContainer {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
    padding:0px 25px 25px 25px;
    overflow:hidden;
    transition: max-height 0.5s ease, min-height 0.5s ease;
}


body{
    margin:0!important;

    background-image: url('/Content/background.png');
    background-repeat:repeat;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tabContainer {
    height:34px;
}

.rock-container{
    position: relative;
    margin:0 auto;
    width: 250px;
    height: 250px;
}

.header-title {
    height: 40px;
    text-align: center;
    font-size: 35px;
}

.header-inventory {
    display: inline-block;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.header{
    border-bottom:#757575 1px solid;
    height: 40px;
    position: relative;
}

.tab-area{
    margin-left:300px;
}

.sidebar-area{
    float:left;
    width:300px;
}

.button {
    display: inline-block;
   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;

    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button > div {
    padding:2px 5px 2px 5px;
}

/*Tabs*/
.tab-button{
    display:inline-block;
}

.tab-button.inactive {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

    -webkit-animation: greyscale-in 0.4s;
    -moz-animation: greyscale-in 0.4s;
    -o-animation: greyscale-in 0.4s;
    animation: greyscale-in 0.4s;
            
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.tab-button.inactive:hover  {
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
}

.tab-button.active{
    -webkit-animation: greyscale-out 0.6s;
    -moz-animation: greyscale-out 0.6s;
    -o-animation: greyscale-out 0.6s;
    animation: greyscale-out 0.6s;
            
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@-moz-keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@-o-keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@-webkit-keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@-moz-keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@-o-keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

/*Tooltip*/
.tooltip-wrapper {
    border-radius: 5px;
    position: absolute;
    max-width: 225px;
    z-index: 100;
    pointer-events: none;

    -webkit-animation: tooltip 0.3s 1;
    -moz-animation: tooltip 0.3s 1;
    -o-animation: tooltip 0.3s 1;
    animation: tooltip 0.3s 1;
}

.tooltip-content {
    padding: 3px 5px 3px 5px;
    font-size: 16px;
}

.tooltip-header {
    font-size: 24px;
}

@-webkit-keyframes tooltip{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes tooltip {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes tooltip {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes tooltip {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Inventory*/
.config-container{
    overflow:visible;
    position:absolute;
    top:5px;
    right:0;
    left:0;
    margin:0 auto;
    width:75%;
    z-index:1;
}

.config-container.closed {
    display:none;
}

.config-table{
    width:100%;
    margin:auto;
}

.config-cell-check {
    width:4%;
}

.config-cell-name {
    width:16%;
}

.header-item {
    display: inline-block;
    height: 35px;
}

.item {
    height:100px;
    width: 100px;
    border: 1px solid;
    display: inline-block;
    border-radius:5px;
    margin: 3px;

    -webkit-transition:all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.item:hover{
    opacity:0.85;
}

.item:active {
    opacity:0.7;
}

.item-text{
    height: 18px;
    color:white;
    text-align: center;
}

.selected-item {
    border:1px solid;
    border-radius:5px;
    height: 100px;
    position:relative;
}

.selected-item-image {
    position:absolute;
    margin-top:18px;
    margin-left:18px;
}

.selected-item-quantity {
    height:24px;
    margin-top:38px;
    margin-right:5px;
    float:right;
}

/*Store*/
.store-item {
    height:120px;
    width:120px;
    display:inline-block;
    margin:5px;
    border-radius:5px;
    overflow:hidden;
}
.store-item-image {
    display:inline-block;
    margin:0 auto;
}

.store-item-header {
    height:18px;
    text-align:center;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
}

.store-item-header-text {
    position: absolute;
    width: 100%;
    height: 18px;
    text-align: center;
    top:0;
    left:0;
    font-size:12px;
}

.store-item-header-quantity-container {
    position:absolute;
    top:0;
    right:0;
    text-align:right;
}

.store-item-header-quantity {
    font-size:9px;
}

.store-item-footer {
    height:40px;
    text-align:center;
}

.store-category{
    border-radius:5px;
    margin-bottom:5px;
}

.store-category-header{
    text-align:center;
    font-size:16px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

/*Chat*/
.chat-msg {
    font-family:"Courier New", Courier, monospace;
}

.chat-sender {
    font-weight:bold;
}

.chat-text {

}

.chat-developer .chat-sender{
    color: white;
    background: rgb(40,40,40); 
    padding:2px;
}

.chat-moderator .chat-sender {
    color: white;
    background-color: green; 
    padding:2px;
}

.chat-server {
    background: blue;
    color: white;
}

/*Table*/
.table-header {
    font-weight: bold;
    height:35px;
}

.table-subheader {
    font-weight: bold;
    height:35px;
}

.table-row {
    
}

.table-row:hover {
    
}

table{
   box-shadow:2px 2px 5px black;
   border-collapse:collapse;
   color:white;
}



td {
    text-align:center;
    border:1px solid white;
}

/*Registration*/

.account-user{
    height:30px;
    width:100%;
    font-size:15px;
    line-height:30px;
}

.account-manager{
    position: fixed;
    right: 5px;
    bottom: 5px;
    width:100px;
    border-radius:5px;
    overflow:hidden;
    text-align: center;

    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.account-option {
    height:20px;
    width:100%;
    font-size:13px;
    line-height:20px;
}

.account-manager.closed .account-option{
    display:none;
}

.account-manager.registered .anonymous-account-option {
    display:none;
}

.account-manager.anonymous .registered-account-option {
    display:none;
}

/*Modal*/
.modal-wrapper {
    -webkit-transition:all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background-color: rgba(0, 0, 0, 0.0);
    min-height: 100%; margin: 0;width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.modal-wrapper.opened {
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 500;
}

.modal-window {
    margin: 0 auto;
    
    border-radius: 5px;
    max-width: 400px;
    display: none;
    position: absolute;
}

.modal-window.opened {
    display: block;
}

.modal-header {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    font-size: 18px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-options {
    margin: 0 auto;
}

.modal-option {
    min-width: 75px;
    text-align: center;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
    
     transition: background-color 0.2s ease-in-out;
    -o-transition:background-color 0.2s ease-in-out;
    -ms-transition:background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;

    background-color: rgb(212, 212, 212);
}

.modal-option:hover {
    background-color: #AAAAAA;
}

.modal-option.affirmative {
    background-color: #33CC33
}

.modal-option.affirmative:hover {
    background-color: #29A329
}

.modal-option.negative {
    background-color: #FF3300;
}

.modal-option.negative:hover {
    background-color: #CC2900;
}

.modal-option > span {
    padding: 3px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*Crafting*/
.block-table{
    width:100%;
    margin-bottom:5px;
}

.progress-bar-container{
    margin:5px;
    padding:2px;
    height:25px;
    border-radius:13px;

    position:relative;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* W3C */
    
    overflow:hidden;
}

.progress-bar {
    height:25px;
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 29%, #80c217 71%, #80c217 71%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(29%,#a1d54f), color-stop(71%,#80c217), color-stop(71%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* W3C */
    
    border-radius:13px;
}

.progress-bar-text-container {
    width:100%;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
}

.progress-bar-text{
    width:100%;
    text-align:center;
    font-size:25px;
    color:black;
    text-shadow:1px 1px 1px white;
}

.processor-sidebar{
    margin-top:12px;
    margin-left:12px;
    box-shadow:2px 2px 5px black;
    width:272px;
    height:75px;
}

.processor-sidebar-progress-bar-container{
    margin:5px;
    padding:2px;
    height:15px;
    border-radius:8px;

    position:relative;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* W3C */
    
    overflow:hidden;
}

.processor-sidebar-progress-bar{
    height:15px;
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 29%, #80c217 71%, #80c217 71%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(29%,#a1d54f), color-stop(71%,#80c217), color-stop(71%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 29%,#80c217 71%,#80c217 71%,#7cbc0a 100%); /* W3C */
    
    border-radius:8px;
}

.processor-sidebar-progress-text{
    width:100%;
    text-align:center;
    font-size:13px;
    color:black;
    text-shadow:1px 1px 1px white;
    position:absolute;
}

.processor-sidebar-progress-text-container {
    width:100%;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
}

/*Buffs*/

.buff-container {
    width:130px;
    height:130px;
    margin-top:12px;
    margin-left:12px;
    box-shadow:2px 2px 5px black;
}

.buff-header {
    height:18px;
    color:white;
    text-align:center;
    text-shadow:1px 1px 1px black;
}

.buff-image-container {
    height:92px;
    width:130px;
}

.error-notification-tray {
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
}

.network-error {
    height:20px;
    width:100%;
}

.network-error-text {
    text-align:center;
}

.rate-limited {
    height:20px;
    width:100%;
}

.chat-window {
    transition: all 0.3s;
    
    position: fixed;
    bottom: 0px;
    left: 0px;

    min-width: 500px;
    width: 40%;
    max-width: 1000px;

    height:300px;
}

.social-disabled .social {
    display: none;
}

.chat-window.closed {
    bottom:-271px;
}

.chat-header {
    position:relative;
    height:30px;
}

.chat-room-tab {
    height:30px;
    display:inline-block;
    color:white;
    font-size:18px;
    padding:3px 10px;
}

.chat-room{
    width:100%;
    height:250px;
    position:relative;
}

.chat-room-content {
    position:absolute;
    bottom:0px;
    max-height:250px;
    width:100%;
    overflow:auto;
}

.chat-submit {
    width:100%;
    font-size:13px;
    border:none;
    height:20px;
}

.chat-textbox {
    width:100%;
    height:20px;
    border:none;
}

.chat-textbox-container {
    margin-right:75px;
    height:19px;
}

.chat-submit-container{
    height:20px;
    margin-top:-20px;
    float:right;
    width:75px;
}

.header-links {
    position: absolute;
    left: 5px;
    bottom: 0px;
    color: white;
}

.header-links > * {
    padding-right: 7px;
}

.equipment-gatherer-container {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}

.loader {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}