#paneContainer {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
    background:rgb(220,220,220);
}

#tabContainer {
    height:34px;
    background:grey;
}

.button {
    display: inline-block;
   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;

    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button > div {
    padding:2px 5px 2px 5px;
}

/*Tabs*/
.tab-button{
    display:inline-block;
}

.tab-button.inactive {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

    -webkit-animation: greyscale-in 0.4s;
    -moz-animation: greyscale-in 0.4s;
    -o-animation: greyscale-in 0.4s;
    animation: greyscale-in 0.4s;
            
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.tab-button.inactive:hover  {
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
}

.tab-button.active{
    -webkit-animation: greyscale-out 0.6s;
    -moz-animation: greyscale-out 0.6s;
    -o-animation: greyscale-out 0.6s;
    animation: greyscale-out 0.6s;
            
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@-moz-keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@-o-keyframes greyscale-out {
    0% {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    100% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@-webkit-keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@-moz-keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@-o-keyframes greyscale-in {
    0% {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    100% {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

/*Tooltip*/
.tooltip-wrapper {
    border-radius: 5px;
    position: absolute;
    max-width: 225px;
    z-index: 100;
    pointer-events: none;

    -webkit-animation: tooltip 0.3s 1;
    -moz-animation: tooltip 0.3s 1;
    -o-animation: tooltip 0.3s 1;
    animation: tooltip 0.3s 1;
}

.tooltip-content {
    padding: 3px 5px 3px 5px;
    font-size: 16px;
}

.tooltip-header {
    font-size: 24px;
}

@-webkit-keyframes tooltip{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes tooltip {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes tooltip {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes tooltip {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Inventory*/
.item {
    height:100px;
    width: 100px;
    border: 1px solid;
    display: inline-block;
    border-radius:5px;
    margin: 3px;
}

.item:hover{
    opacity:0.9;
}

.item:active {
    opacity:0.8;
}

.item-text{
    height: 18px;
    color:white;
    text-align: center;
}

.selected-item {
    border:1px solid;
    border-radius:5px;
    height: 100px;
}

.selected-item-image {
    position:absolute;
    margin-top:18px;
    margin-left:18px;
}

.selected-item-quantity {
    height:24px;
    margin-top:38px;
    margin-right:5px;
    float:right;
}

/*Store*/
.store-item {
    height:120px;
    width:120px;
    display:inline-block;
    margin:5px;
    border-radius:5px;
    overflow:hidden;
}
.store-item-image {
    display:inline-block;
    margin:0 auto;
}

.store-item-header {
    height:18px;
    text-align:center;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.store-item-footer {
    height:40px;
    text-align:center;
}

.store-category{
    border-radius:5px;
    margin-bottom:5px;
}

.store-category-header{
    text-align:center;
    font-size:16px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

/*Chat*/
.chat-msg {
    font-family:"Courier New", Courier, monospace;
}

.chat-sender {
    font-weight:bold;
}

.chat-text {

}

.chat-developer .chat-sender{
    color: white;
    background: rgb(40,40,40); 
    padding:2px;
}

.chat-moderator .chat-sender {
    color: white;
    background-color: green; 
    padding:2px;
}