.item {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0A0A0), color-stop(1, #808080));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #A0A0A0 0%, #808080 100%);
}

.equipment-gatherer-header {
     /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #123652), color-stop(1, #0E2B42));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #123652 0%, #0E2B42 100%);
    color:white;
}

.equipment-gatherer-container {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #718EA4), color-stop(1, #5A7283));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #718EA4 0%, #5A7283 100%);

box-shadow:2px 2px 5px black;
color:white;
}

.button {
    background: linear-gradient(rgb(28,64,92),rgb(4,32,55));
    color: white;
}

.button.inactive {
    background: linear-gradient(#7f7f7f, #494949);
    color: lightgray;
}

.header{
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #A9A9A9 0%, #989898 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #A9A9A9 0%, #989898 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #A9A9A9 0%, #989898 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A9A9A9), color-stop(1, #989898));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #A9A9A9 0%, #989898 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #A9A9A9 0%, #989898 100%);
}

#paneContainer {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DCDCDC 0%, #C6C6C6 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DCDCDC 0%, #C6C6C6 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DCDCDC 0%, #C6C6C6 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DCDCDC), color-stop(1, #C6C6C6));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DCDCDC 0%, #C6C6C6 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DCDCDC 0%, #C6C6C6 100%);
}

#tabContainer {
   /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #808080 0%, #666666 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #808080 0%, #666666 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #808080 0%, #666666 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080), color-stop(1, #666666));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #808080 0%, #666666 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #808080 0%, #666666 100%);
}

.selected-item {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0A0A0), color-stop(1, #808080));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #A0A0A0 0%, #808080 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #A0A0A0 0%, #808080 100%);     
}

.tooltip-wrapper {
    background: linear-gradient(rgb(4,32,55), rgb(18,54,82));
    border: 1px solid black;
    box-shadow: 1px 1px 2px black
}

.tooltip-content {
    color: white;
}

.tooltip-header {
    border-bottom: 1px solid white;
    color: white;
}

/*STORE*/

.store-item {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #718EA4), color-stop(1, #5A7283));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #718EA4 0%, #5A7283 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #718EA4 0%, #5A7283 100%);
    box-shadow:1px 1px 3px black;
}

.store-item-header {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #123652), color-stop(1, #0E2B42));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #123652 0%, #0E2B42 100%);
    color:white;
}

.store-category{
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #496D89 0%, #3A576E 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #496D89 0%, #3A576E 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #496D89 0%, #3A576E 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #496D89), color-stop(1, #3A576E));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #496D89 0%, #3A576E 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #496D89 0%, #3A576E 100%);
    box-shadow:1px 1px 3px black;
}

.store-category-header{
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #042037 0%, #021321 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #042037 0%, #021321 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #042037 0%, #021321 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #042037), color-stop(1, #021321));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #042037 0%, #021321 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #042037 0%, #021321 100%);
    color:white;
}

/*Table*/
.table-header {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #042037 0%, #031626 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #042037 0%, #031626 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #042037 0%, #031626 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #042037), color-stop(1, #031626));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #042037 0%, #031626 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #042037 0%, #031626 100%);
    color: white;
}

.table-subheader {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #123652), color-stop(1, #0E2B42));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #123652 0%, #0E2B42 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #123652 0%, #0E2B42 100%);
    color: white;
}

.table-row {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #718EA4 0%, #668094 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #718EA4 0%, #668094 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #718EA4 0%, #668094 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #718EA4), color-stop(1, #668094));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #718EA4 0%, #668094 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #718EA4 0%, #668094 100%);
}

.table-row:hover {
    background: rgb(103, 132, 154);
}
/*Registration*/

.account-manager {
    background: #496D89;
    color: white;
}


.account-user{
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9F9F9F), color-stop(1, #8D8D8D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #9F9F9F 0%, #8D8D8D 100%);
}

.header-button {
     /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9F9F9F), color-stop(1, #8D8D8D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #9F9F9F 0%, #8D8D8D 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #9F9F9F 0%, #8D8D8D 100%);
}

.header-button:hover {
    background: #808080;
}

.account-user:hover {
    background: #808080;
}

.account-option {
    background: #A9A9A9;
}

.account-option:hover{
    background:#808080;
}
/*modal*/
.modal-window {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.modal-header {
    border-bottom: solid 1px rgb(212, 212, 212);
    background: linear-gradient(rgb(200, 200, 200), rgb(238, 238, 238));
}
/*Buffs*/

.buff-container {
    border: 1px solid white;
    background: rgb(73,109,160); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(73,109,160,1) 0%, rgba(73,99,137,1) 40%, rgba(73,109,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,109,160,1)), color-stop(40%,rgba(73,99,137,1)), color-stop(100%,rgba(73,109,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* W3C */
}

.processor-sidebar{
    border: 1px solid white;
    background: rgb(73,109,160); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(73,109,160,1) 0%, rgba(73,99,137,1) 40%, rgba(73,109,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,109,160,1)), color-stop(40%,rgba(73,99,137,1)), color-stop(100%,rgba(73,109,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(73,109,160,1) 0%,rgba(73,99,137,1) 40%,rgba(73,109,150,1) 100%); /* W3C */
}

.network-error{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #D63333 0%, #A30000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #D63333 0%, #A30000 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #D63333 0%, #A30000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D63333), color-stop(1, #A30000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #D63333 0%, #A30000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #D63333 0%, #A30000 100%);
}

.rate-limited {
    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #CFCF00 0%, #B8B800 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #CFCF00 0%, #B8B800 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #CFCF00 0%, #B8B800 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #CFCF00), color-stop(1, #B8B800));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #CFCF00 0%, #B8B800 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #CFCF00 0%, #B8B800 100%);
}

.network-error-text{
    color: white;
}

.achievement {
    background: #B0BEC5;
    color: white;
}

.achievement.locked {
    background: gray;
}

.achievement-image {
    background: #78909C;
}

.achievement-progress-container {
    background: #CFD8DC;
}

.achievement-progress {
    background: #546E7A;
}

.market-control {
    color: white;
}

.buy {
    background: #33691E;
}

.buy:hover {
    background: #558B2F;
}

.sell {
    background: #E65100;
}

.sell:hover {
    background: #EF6C00;
}

.market-order {
    color: white;
    background: #546E7A;
}

.market-order-header {
    background: #78909c;
}

.server-notification.technical {
    background: linear-gradient(rgb(5, 60, 218), rgb(0, 40, 155));
}

.server-notification.announcement {
    background: linear-gradient(#279B04, #1E8300);
}

.server-notification-dismisser {
    background: linear-gradient(#F00, #740000);
}
