@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; font-size: 20px; font-weight: bold;">
        Access Denied
    </div>
    <div style="text-align: center;">
        You do not have permissions to access this page.
    </div>
</body>
</html>
