################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoldRush/bin
/GoldRush/obj
/GoldRushTesting/bin
/GoldRushTesting/obj
/packages
/TestResults
*.user
*.suo
/Caroline/App_Data
/Caroline/bin
/Caroline/obj
/GoldRush.sln.ide
/Caroline.App/bin
/Caroline.App/obj
/Caroline.App.Models/bin
/Caroline.App.Models/obj
/Caroline.Dal/obj
/Caroline.Domain/bin
/Caroline.Domain/obj
/Caroline.Domain.Models/bin
/Caroline.Domain.Models/obj
/Caroline.Persistance/obj
/Caroline.Persistence/bin
/Caroline.Persistence/obj
/Caroline.Persistence.Models/bin
/Caroline.Persistence.Models/obj
/GoldRushTesting/obj
/GoldRushTesting/bin
/GoldRush/obj
/GoldRush/bin
/Bin
/Caroline/Content/ClientActions.proto
/Caroline/game.js
/Caroline.App.Models.Tests/obj/Debug
/Caroline.App.Models.Tests/bin/Debug
