################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoldRush/bin/Debug
/GoldRush/obj/Debug
/GoldRushTesting/bin/Debug
/GoldRushTesting/obj/Debug
/packages
/TestResults
*.user
*.suo
/Caroline/App_Data
/Caroline/bin
/Caroline/obj/Debug
/GoldRush.sln.ide
