@{
    ViewBag.Title = "Gold Rush";
}

@Styles.Render("~/Content/game.css")
@Styles.Render("~/Content/theme-classic.css")

<div id="game">
    <div id="tabContainer"></div>
    <div id="paneContainer">
        <br/>
    </div>
</div>



@Scripts.Render("~/Scripts/test.js")
@Scripts.Render("~/Scripts/game.js")