@{
    ViewBag.Title = "Gold Rush";
}

@Styles.Render("~/Content/game.css")
@Styles.Render("~/Content/theme-classic.css")

<div id="game">
    <div class="header">
        <div class="header-links"></div>
        <div class="header-title">Gold Rush</div>
        <div id="headerInventory" class="header-inventory"></div>
    </div>
    <div>
        <div class="sidebar-area">
            <div class="rock-container">
                <canvas id="rock" height="250" width="250"></canvas>
            </div>
            <div id="sidebarInformation">

            </div>
        </div>
        <div class="tab-area">
            <div id="tabContainer"></div>
            <div id="paneContainer">
                <br />
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/Scripts/test.js")
@Scripts.Render("~/Scripts/game.js")
