@{
    ViewBag.Title = "Gold Rush";
}

@Styles.Render("~/Content/game.css")
@Styles.Render("~/Content/theme-classic.css")

<div id="game">
    <div class="header">
        Gold Rush
    </div>
    <div>
        <div class="sidebar-area">
            <div class="Rock">
            </div>
        </div>
        <div class="tab-area">
            <div id="tabContainer"></div>
            <div id="paneContainer">
                <br />
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/Scripts/test.js")
@Scripts.Render("~/Scripts/game.js")
