@{
    ViewBag.Title = "Version History";
}
@Styles.Render("~/Content/version.css")

<div class="update alpha">
    <p>v0.1</p>
    <div class="update">
        <p>v0.1.0</p>
        <ul>
            <li>Initial release.</li>
        </ul>
    </div>
    <div class="update wipe">
        <p>v0.1.1</p>
        <p>Features</p>
        <ul>
            <li>
                Leaderboards added.
            </li>
            <li>
                Gatherers can now be disabled to stop them from consuming fuel and gatherering resources.
            </li>
            <li>
                Added particles to rock.
            </li>
            <li>
                Rock is now more obviously clickable.
            </li>
        </ul>
        <p>Fixes</p>
        <ul>
            <li>
                Item quantities no longer overflow to negative.
            </li>
            <li>
                Oil consumption correctly rounds.
            </li>
            <li>
                Sell all items configuration window looks better at low resolutions.
            </li>
            <li>
                All gatherers now correctly gather resources after an offline period.
            </li>
            <li>
                Craftable upgrades now have descriptions.
            </li>
            <li>
                Player counter hopefully more accurate.
            </li>
        </ul>
        <div class="update">
            <p>v0.1.1a</p>
            <p>Fixes</p>
            <ul>
                <li>Logging in now works correctly.</li>
                <li>Pickaxes correctly require the previous to purchase.</li>
            </ul>
        </div>
    </div>
</div>
